.task-done {
    text-decoration: line-through;
}

#conteiner-list {
    width: 300px;
    height: 214px;
    border-radius: 1em;
    padding: 1.9rem;
    display: flex;
    align-items: flex-end;
    box-shadow: #ffffff 0px 30px 50px -12px inset, #959595 0px 18px 26px -18px inset;
    margin-top: 20px;
}

#img-trash {
    background-color: transparent;
    width: 30px;
    cursor: pointer;
    margin-bottom: 190px;
    margin-left: 8px;
}

#img-trash:hover {
    width: 33px;
}

#check-name {
    display: flex;
    background-color: transparent;
    align-items: center;
    width: 300px;
}

#check-name h3 {
    color: #ec7fdf;
    background-color: transparent;
    padding-left: 30px;
    font-size: 35px;
    font-weight: 300px;
    margin-top:10px; 
}

#check-name input[type=checkbox] {
    accent-color: #ec7fdf;
    width: 25px;
    height: 30px;
    margin-top:10px;
    
}

.box-date {
    background-color: white;
    border-radius: 10px;
    border: 1px solid rgb(238, 238, 238);
    display: flex;
    flex-direction: column;
    width: 220px;
    font-size: 18px;
    color: #ec7fdf;
    font-weight: 400px;
    padding: 15px 20px;
    height: 155px;
    margin-bottom: 10px;
    margin-left: 15px;
}

.transparent {
    background-color: transparent;
}

#tag-task {
    background-color: transparent;
}

#tag-task p {
    background-color: transparent;
    color: white;
}

.calendar-box {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}



#datetime p {
    font-size: 14px;
}


#line {
    padding-bottom: 15px;
    padding-top: 5px;
    width: 500px;
    text-align: center;
    
}

#line:hover {
    font-size: 15px;
}



.medium {
    background-color: #D8A2FF;
}

.high {
    background-color: #A8FFD9;
}

.low {
    background-color: #E7008F;
}

#border-date {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    border: 1px solid #ec7fdf;
}