.task-done {
    text-decoration: line-through;
}

.dot {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-top: 45px;
}

.conteiner-list {
    height: 150px;
    border-radius: 30px;
    background: lightgrey;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 50px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 26px -18px inset;
    display: flex;
    justify-content: space-between;
    padding: 40px;
    margin: 15px;
}

#check-name {
    display: flex;
    background-color: transparent;
    align-items: center;
    width: 300px;
}

#check-name h3 {
    color: #ec7fdf;
    background-color: transparent;
    padding-left: 30px;
    font-size: 35px;
    font-weight: 300px;
}

#check-name input[type=checkbox] {
    accent-color: #ec7fdf;
    width: 25px;
    height: 30px;
}

.box-date {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    width: 700px;
    align-items: center;
    font-size: 20px;
    color: #ec7fdf;
    font-weight: 400px;
}

.transparent {
    background-color: transparent;
}

